<ion-view view-title="Crear Usuario gustavo" name="dashboard-view">
	<ion-content class="padding">
		
  			<div class="list">
			  
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Nombre</span>
			    <input type="text" placeholder="Nombre">
			  </label>
			  
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Apellido</span>
			    <input type="text" placeholder="Apellido">
			  </label>
			 
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Cedula de ciudadania</span>
			    <input type="text" placeholder="Cedula de ciudadania">
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Telefono</span>
			    <input type="tel" placeholder="Telefono">
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Crear Contraseña</span>
			    <input type="password" placeholder="Contraseña">
			  </label>

			  <!--<label class="item item-input item-stacked-label">
			    <span class="input-label">Repetir Contraseña</span>
			    <input type="password" placeholder="Contraseña">
			  </label>-->
			
			 <label class="item item-input item-select">
			    <div class="input-label">
			      privilegios
			    </div>
			    <select ng-model="miSelect">
			      <option>administrador</option>
			      <option selected>Usuario</option>
			    </select>
			  </label>
			</div>

	</ion-content>
</ion-view>